<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
<h1 style="font-size: 24px; color: #74EB34">Email Verification</h1>

<p style="font-size: 16px">Hello <strong>[[USERNAME]]</strong>,</p>

<p style="font-size: 16px">Use the link below to verify your email address.</p>

<div>
    <a href="https://threaded-txy5.onrender.com/api/auth/verify?token=[[TOKEN]]"
       style="background: #74EB34; color: white; padding: 12px 25px; font-weight: bold; border-radius: 5px; display: inline-block">
        Verify Email
    </a>
</div>

<p style="font-size: 16px">
    If the button above doesn't work, use the link below:
    <br>
    <a href="https://threaded-txy5.onrender.com/api/auth/verify?token=[[TOKEN]]">
        https://threaded-txy5.onrender.com/api/auth/verify?token=[[TOKEN]]
    </a>
</p>

<p style="font-size: 16px">This link expires in 24 hours.</p>

</body>
</html>
